.body-container {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 30px;
    margin-top: 50px;
  }
    
    .Title {
      font-family: Moirai;
      font-size: 70px;
      text-align: left;
      margin-bottom: 70px;
    }
    
    .NextButton {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      margin-left: 65%;
    }